In [11]:
import pandas as pd

In [12]:
raw_data = pd.read_csv('../../data/train.hate.csv')
test = pd.read_csv('../../data/dev.hate.csv')

In [13]:
test.tail()

                                              comments      label
466                                  지현우 범죄 저지르지 않았나요?  offensive
467                                    여자인생 망칠 일 있나 ㅋㅋ       hate
468            근데 전라도에서 사고가 났는데 굳이 서울까지 와서 병원에 가느 이유는?  offensive
469  할매젖x, 뱃살x, 몸매 s라인, 유륜은 적당해야됨(너무크거나 너무 작아도 x), ...       hate
470  남자가 잘못한거라면... 반성도 없다면...나였다면 ... 여자처럼 아주 못되게 할...       none

In [14]:
train = raw_data.copy()

In [15]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7896 entries, 0 to 7895
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   comments  7896 non-null   object
 1   label     7896 non-null   object
dtypes: object(2)
memory usage: 123.5+ KB

In [16]:
train.iloc[100:105]

                                              comments      label
100  6명이서 그깟 20년 한거가지고 참 ㅋㅋㅋㅋㅋㅋㅋㅋ강필주는 혼자 20년 기다리고 참...  offensive
101            6명전부 별론데 그나마 저중에 문희준이 제일 인기많았고 돈 많이 벌었고  offensive
102  6월 29일 전미선에 이어 7월 31일 박일 성우님... 올해 몇번째 연예계 비보가...       none
103  75% 여성비율 30대 37% ㅎㄷㄷ 능력있는 한국남성분들 국제결혼이 답입니다. 일...  offensive
104  79년생 하하 아직도 초딩캐릭터 아냐? 김종민도 그렇고 어른 이미지로 가는거 별로 ...       none

### 1. 특수문자 제거, 문장 분리, 띄어쓰기는 공통적으로 적용

In [17]:
# 특수문자 제거
import re

# 간편한 버전(예지버전) 사용
def cleanse(text):
    pattern = re.compile(r'\s+')
    text = re.sub(pattern, ' ', text)
    text = re.sub('[^가-힣ㄱ-ㅎㅏ-ㅣa-zA-Z0-9]', ' ', text)
    return text

train['comments'] = train['comments'].apply(cleanse)
train.iloc[100:105]

                                              comments      label
100  6명이서 그깟 20년 한거가지고 참 ㅋㅋㅋㅋㅋㅋㅋㅋ강필주는 혼자 20년 기다리고 참...  offensive
101            6명전부 별론데 그나마 저중에 문희준이 제일 인기많았고 돈 많이 벌었고  offensive
102  6월 29일 전미선에 이어 7월 31일 박일 성우님    올해 몇번째 연예계 비보가...       none
103  75  여성비율 30대 37  ㅎㄷㄷ 능력있는 한국남성분들 국제결혼이 답입니다  일...  offensive
104  79년생 하하 아직도 초딩캐릭터 아냐  김종민도 그렇고 어른 이미지로 가는거 별로 ...       none

In [18]:
# 띄어쓰기
from pykospacing import spacing
train['comments'] = train['comments'].apply(spacing)
train.iloc[100:105]

                                              comments      label
100  6명이 서 그깟 20년 한 거가지고 참 ㅋㅋㅋㅋㅋㅋㅋㅋ 강필주는 혼자 20년 기다리...  offensive
101         6명 전부 별론데 그나마 저 중에 문희준이 제일 인기 많았고 돈 많이 벌었고  offensive
102  6월 29일 전미선에 이어 7월 31일 박 일 성우님 올해 몇 번째 연예계 비보가 ...       none
103  75 여성비율 30대 37 ㅎㄷㄷ 능력 있는 한국 남성분들 국제결혼이 답입니다 일본...  offensive
104  79년생 하 하 아직도 초딩 캐릭터 아냐 김종민도 그렇고 어른 이미지로 가는 거 별...       none

In [19]:
# 문장 분리
import kss
train['comments'] = train['comments'].apply(kss.split_sentences)
train['comments'] = [','.join(map(str, ls)) for ls in train['comments']]
train.iloc[100:105]

                                              comments      label
100  6명이 서 그깟 20년 한 거가지고 참 ㅋㅋㅋㅋㅋㅋㅋㅋ 강필주는 혼자 20년 기다리...  offensive
101         6명 전부 별론데 그나마 저 중에 문희준이 제일 인기 많았고 돈 많이 벌었고  offensive
102  6월 29일 전미선에 이어 7월 31일 박 일 성우님 올해 몇 번째 연예계 비보가 ...       none
103  75 여성비율 30대 37 ㅎㄷㄷ 능력 있는 한국 남성분들 국제결혼이 답입니다,일본...  offensive
104  79년생 하 하 아직도 초딩 캐릭터 아냐 김종민도 그렇고 어른 이미지로 가는 거 별...       none

In [20]:
# 중복 제거
from soynlp.normalizer import *
train['comments'] = [repeat_normalize(comment, num_repeats=2) for comment in train['comments']]
train.iloc[100:105]

                                              comments      label
100     6명이 서 그깟 20년 한 거가지고 참 ㅋㅋ 강필주는 혼자 20년 기다리고 참아왔다  offensive
101         6명 전부 별론데 그나마 저 중에 문희준이 제일 인기 많았고 돈 많이 벌었고  offensive
102  6월 29일 전미선에 이어 7월 31일 박 일 성우님 올해 몇 번째 연예계 비보가 ...       none
103  75 여성비율 30대 37 ㅎㄷㄷ 능력 있는 한국 남성분들 국제결혼이 답입니다,일본...  offensive
104  79년생 하 하 아직도 초딩 캐릭터 아냐 김종민도 그렇고 어른 이미지로 가는 거 별...       none

### 2. 각 형태소 분석기별 데이터 생성

In [21]:
# 데이터프레임 생성
khai_train = pd.DataFrame(columns=['words', 'postagged'])
mecab_train = pd.DataFrame(columns=['words', 'postagged'])
okt_train = pd.DataFrame(columns=['words', 'postagged'])

In [22]:
# khaiii
from khaiii import KhaiiiApi
kh = KhaiiiApi()

words = []
postagged = []
for comment in train['comments']:
    # 문장 -> 형태소 객체로 분리
    sentence = kh.analyze(comment)
    # 형태소 -> 한 문장으로 다시 합쳐서 저장
    words.append(' '.join([morph.lex for morph in sentence]))
    # 품사 태깅
    #postagged.append(' '.join([morph.morphs.tag for morph in sentence]))

khai_train['words'] = words

In [23]:
# mecab
from konlpy.tag import Mecab
me = Mecab()

words = []
postagged = []
for comment in train['comments']:
    # 문장 -> 형태소 객체로 분리
    sentence = me.morphs(comment)
    # 형태소 -> 한 문장으로 다시 합쳐서 저장
    words.append(' '.join([morph for morph in sentence]))
    
mecab_train['words'] = words

In [24]:
# okt
from konlpy.tag import Okt
t = Okt()

words = []
postagged = []
for comment in train['comments']:
    # 문장 -> 형태소 객체로 분리
    sentence = t.morphs(comment)
    # 형태소 -> 한 문장으로 다시 합쳐서 저장
    words.append(' '.join([morph for morph in sentence]))

okt_train['words'] = words

In [25]:
from sklearn.naive_bayes             import MultinomialNB
from sklearn.ensemble                import RandomForestClassifier
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.linear_model            import LogisticRegression
from sklearn.model_selection         import GridSearchCV, train_test_split, cross_val_score
from sklearn.metrics                 import accuracy_score, recall_score, roc_auc_score, f1_score
from sklearn.pipeline                import Pipeline
from sklearn.svm                     import SVC
from sklearn.tree                    import DecisionTreeClassifier
from lightgbm                        import LGBMClassifier

### 모델 적용 함수

In [30]:
from konlpy.tag import Okt
t = Okt()
def t_tokenizer(text):
    tokens_ko = t.morphs(text)
    return tokens_ko

In [31]:
dfs = [('Khai', khai_train), ('Mecab', mecab_train), ('Okt', okt_train)]
models = [RandomForestClassifier(), LogisticRegression(), SVC(), LGBMClassifier()]

def get_score(df, model):
    # 훈련: train 전체 / 테스트: dev 전체
    X_train = df['words']
    X_test = test['comments']
    y_train = train['label']
    y_test = test['label']
    
    # Setting up the pipeline
    cvec_lr_pipe = Pipeline([("vec", TfidfVectorizer(tokenizer=t_tokenizer)), 
                             ("model", model)])

    # Setting the CVEC hyperparameters
    cvec_pipe_params = {"vec__ngram_range" : [(1,2)], 
                        "vec__stop_words"  : [None]}

    # Instantiating the grid search
    cvec_lr_gs = GridSearchCV(cvec_lr_pipe, 
                              param_grid = cvec_pipe_params, 
                              cv=5)

    # Fitting the model to the training data
    cvec_lr_gs.fit(X_train, y_train);
    
    # Predicting
    train_pred = cvec_lr_gs.predict(X_train)
    test_pred = cvec_lr_gs.predict(X_test)

    # Score
    f1 = [f1_score(train_pred, y_train, average='macro'), f1_score(test_pred, y_test, average='macro')]
    acc = [accuracy_score(y_train, train_pred), accuracy_score(y_test, test_pred)]
    score_df = pd.DataFrame(data={'F1 Score' : f1, 'Accuracy' : acc}, index=['Train', 'Test'])
    return score_df

In [32]:
for model in models:
    for name, df in dfs:
        print("Model : {} / Data : {}".format(model, name))
        print(get_score(df, model), '\n', '------------------------------', sep='')

Model : RandomForestClassifier() / Data : Khai
       F1 Score  Accuracy
Train  0.999885  0.999873
Test   0.476069  0.503185
------------------------------
Model : RandomForestClassifier() / Data : Mecab
       F1 Score  Accuracy
Train  1.000000  1.000000
Test   0.417748  0.460722
------------------------------
Model : RandomForestClassifier() / Data : Okt
       F1 Score  Accuracy
Train  0.999885  0.999873
Test   0.462053  0.492569
------------------------------
Model : LogisticRegression() / Data : Khai
       F1 Score  Accuracy
Train  0.949034  0.950861
Test   0.579354  0.588110
------------------------------
Model : LogisticRegression() / Data : Mecab
       F1 Score  Accuracy
Train  0.931383  0.933384
Test   0.544350  0.558386
------------------------------
Model : LogisticRegression() / Data : Okt
       F1 Score  Accuracy
Train  0.949241  0.951114
Test   0.573409  0.581741
------------------------------
Model : SVC() / Data : Khai
       F1 Score  Accuracy
Train  0.998311  0.998354
Test   0.522109  0.545648
------------------------------
Model : SVC() / Data : Mecab
       F1 Score  Accuracy
Train  0.996564  0.996581
Test   0.491518  0.518047
------------------------------
Model : SVC() / Data : Okt
       F1 Score  Accuracy
Train  0.998311  0.998354
Test   0.523185  0.545648
------------------------------
Model : LGBMClassifier() / Data : Khai
       F1 Score  Accuracy
Train  0.786059  0.795466
Test   0.524745  0.535032
------------------------------
Model : LGBMClassifier() / Data : Mecab
       F1 Score  Accuracy
Train  0.833634  0.839539
Test   0.486849  0.505308
------------------------------
Model : LGBMClassifier() / Data : Okt
       F1 Score  Accuracy
Train  0.784302  0.793440
Test   0.536710  0.543524
------------------------------

# 결론: Khai가 전체적으로 가장 높다