In [34]:
new_label = pd.read_excel('./nogada.xlsx', index_col=0)
new_label.head()

,index,title,comments,label,NEW,Unnamed: 6
0,28,"송가인, 행사비 ‘껑충’…축제 관계자 “너무 비싸”",1억도 안아깝다 ☝️☝️☝️☝️☝️☝️☝️,none,NaN,none
1,39,"""섹시미 폭발""..마마무 화사, 시상식 뒤집어놓은 '레드 보디수트' [2018 MA...",2018년 마마 진정한 승자 화사,none,NaN,none
2,49,"""한치 대란 예고"" 화사 '냉장고' 강림한 먹방 여신 ""주량 소주 1병""[종합]",24살인데 술을먹어 발랑까졋네 고딩때도 먹엇을듯,offensive,NaN,offensive
3,57,"구혜선 ""안재현 증오, 망가지길 원했다…더이상 사랑하지 않아"" [전문]",2년도안되 ㅇㅈㅎ 양아치에게 통수 맞으니 분하겠죠 ......그동안 sns에서 충분...,offensive,NaN,offensive
4,73,"'이틀만에 12억 매출' 염따 후드티, 대체 어떤 옷이길래",3일에 12억원어치 팔만큼 파급력있는 사람입니다. 왜 다들 조롱만 하나요? 잘 알지...,none,NaN,none

In [44]:
new_label = new_label[new_label['NEW'].notnull()]
new_label.head()

,index,title,comments,label,NEW,Unnamed: 6
9,115,"토니안, H.O.T. 재결합 무대 소감 ""정말 행복한 시간""",HOT 팬들은 사람죽일 정도로 극성이였다든데,hate,offensive,offensive
24,242,"박명수 아내 한수민, 부모 욕하는 비속어+동작 의혹..'부적절 행동'",ㅋㅋㅋㅋㅋㅋ 욕하는분들 평생 욕 안해보고 사신분?별게 다 불편해~~~~,offensive,none,none
32,324,"[POP이슈]""꽃신 신고 감격"" 빈지노 제대에 '♥미초바' 눈물→쏟아지는 응원(종합)",갈수록 군대복무기간줄이네26개월갓다온거 억울하네 스브얼,hate,none,none
34,341,"SBS ""고현정 교체 검토중""…수목극 '리턴' 파행(종합)",갑질하다가 골로가신 연예인들 많던데 . . .,offensive,none,none
50,516,"'피소' 김정훈 사생활 논란→김진아 의미심장 심경 ""차라리 다행""(종합)[Oh!쎈 이슈]",결혼사기로 피임안했으니 애생긴거지 아니면 여자가 임신하면 인생망치는데 했겠냐? 그래...,hate,offensive,offensive

In [45]:
new_label = new_label[["index", "Unnamed: 6"]]
new_label.head()

    index Unnamed: 6
9     115  offensive
24    242       none
32    324       none
34    341       none
50    516  offensive

In [46]:
indices = [idx for idx in new_label['index']]
labels = [label for label in new_label['Unnamed: 6']]

In [53]:
train = pd.read_csv('../../data/train.hate.csv')

In [64]:
train.iloc[115]

comments    HOT 팬들은 사람죽일 정도로 극성이였다든데
label                           hate
Name: 115, dtype: object

In [63]:
new_label['Unnamed: 6'].values

array(['offensive', 'none', 'none', 'none', 'offensive', 'offensive',
       'none', 'none', 'none', 'hate', 'offensive', 'offensive', 'hate',
       'hate', 'offensive', 'offensive', 'offensive', 'none', 'offensive',
       'none', 'none', 'hate', 'none', 'offensive', 'offensive', 'hate',
       'offensive', 'offensive', 'hate', 'offensive', 'offensive', 'hate',
       'hate', 'offensive', 'hate', 'offensive', 'hate', 'offensive',
       'offensive', 'hate', 'none', 'hate', 'none', 'offensive', 'none',
       'none', 'none', 'none', 'none', 'offensive', 'none', 'none',
       'hate', 'hate'], dtype=object)

In [71]:
train['label'][indices] = labels

In [72]:
train.iloc[115]

comments    HOT 팬들은 사람죽일 정도로 극성이였다든데
label                      offensive
Name: 115, dtype: object

In [73]:
train

                                               comments label
0     (현재 호텔주인 심정) 아18 난 마른하늘에 날벼락맞고 호텔망하게생겼는데 누군 계속...  hate
1     ....한국적인 미인의 대표적인 분...너무나 곱고아름다운모습...그모습뒤의 슬픔을...  none
2     ...못된 넘들...남의 고통을 즐겼던 넘들..이젠 마땅한 처벌을 받아야지..,그래...  hate
3                    1,2화 어설펐는데 3,4화 지나서부터는 갈수록 너무 재밌던데  none
4     1. 사람 얼굴 손톱으로 긁은것은 인격살해이고2. 동영상이 몰카냐? 메걸리안들 생각...  hate
...                                                 ...   ...
7891                                      힘내세요~ 응원합니다!!  none
7892                             힘내세요~~삼가 고인의 명복을 빕니다..  none
7893                              힘내세용 ^^ 항상 응원합니닷 ^^ !  none
7894  힘내소...연기로 답해요.나도 53살 인데 이런일 저런일 다 있더라구요.인격을 믿습...  none
7895                                 힘들면 관뒀어야지 그게 현명한거다  none

[7896 rows x 2 columns]

In [74]:
train.to_csv('./new_train.csv')